<!DOCTYPE HTML>
<html lang="en">
<!-- 水  墨 -->
<head>
	<meta charset="UTF-8">

    <title>
        {% block head_title %}
        {% endblock %}
    </title>

    <link media="all" rel="stylesheet" href="/static/css/global-style.css" type="text/css" />
    <!--  -->
    <link media="all" rel="stylesheet" href="/static/css/me/base.css" type="text/css" /> <!-- layout & style -->
    <!-- jQuery-basic -->
    <script src="/static/js/lib/jquery-1.4.4.min.js" type="text/javascript"></script>
    <script src="/static/js/lib/jquery.cookie.js" type="text/javascript"></script>
    <script src="/static/js/lib/jquery.json.min.js" type="text/javascript"></script>
    <!-- UI Core: Core, Widget, Mouse, Position
        Interactions: Draggable, Droppable, Sortable -->
    <script src="/static/js/lib/jquery-ui-1.8.9.custom.min.js" type="text/javascript"></script>
    {% block head_extra %}
    {% endblock %}
</head>
<body>
    <div id="Header" >
        <div id="Chaos">
            <div id="G0">{{ request.user.username }}</div>
            <div id="G1"></div>
            <div id="G2"></div>
        </div>
        <div id="TopNav" class="">
            <div class="nav">
                <a id="nav-tags-toggle" class="b-nav-0" href="#knowledge" >K</a>
                <div class="nav-tags" style="z-index:1;">
                    {% for category in category_list %}
                        <a id="" class="b-nav-1" onclick="View_Category({{ category.id }})" href="#{{ category.name }}">{{ category.name }}</a>
                    {% endfor %}
                    <a id="" href="#" class="fn-mc b-nav-1">M</a>
                </div>
            </div>
            <div class="nav-gap"></div>

            <div class="nav">
                <a id="nav-tags-toggle" class="b-nav-0" href="#knowledge" >R</a>
            </div>
            <div class="nav-gap"></div>

        </div>
    </div>

    <div id="Sidebar">
        <a href="#apps" id="ToggleAppsNav" class="b-app-0">A</a>
        <div id="AppsNav">
        </div>
    </div>

    <div id="ControlPanel">
        <div id="CPTop">
            <div id="CPTopMenu" class="" >
                <a id="" class="b-cp-0" onclick="View_KnowledgeList();" href="#">Tree</a>
                <a id="" class="b-cp-0" onclick="View_Category();" href="#">Profile</a>
                <a id="" class="b-cp-0" onclick="Content_Add('knowledge','multiple');" href="#">Add</a>
            </div>
        </div>
        <div id="CPMiddle">
            <div class="container">
                {% block control_panel %}
                {% endblock %}
            </div>
        </div>
    </div>

    <div id="Main" class="RightWide">
        <div id="MainLeft">
            {% block main_left %}
            {% endblock %}
        </div>
        <div id="MainRight">
            {% block main_right %}
            {% endblock %}
        </div>
    </div>

    <!-- invisibles -->
    <!--
    <div id="Noti">Loading..</div>
    <div id="KMenu" class="hidden">
        <a href="#" id="" class="b-km-0" onclick="Content_EditPage();">Edit</a>
        <a href="#" id="" class="b-km-0" onclick="Content_Add('knowledge','child');">Chi</a>
        <a href="#" id="" class="b-km-0" onclick="delete_knowledge()">Del</a>
    </div>
    <div id="Submit_content" class="ButtonSubmit">Submit</div>
    -->
</body>
</html>
