{% extends 'me/base.html' %}

{% block head_title %}
Categorys
{% endblock %}

{% block head_extra %}
<link media="all" rel="stylesheet" href="/static/.css" type="text/css" />
<script src="" type="text/javascript"></script>
{% endblock %}

{% block control_panel %}

{% endblock %}

{% block main_left %}
<h2>{{ category.name }}</h2>
<p>{{ category.description }}</p>
<div>
    <a href="/know/category/w/{{ category.nid }}/">update</a>
    <a href="/know/category/w/{{ category.nid }}/?delete=1">delete</a>
</div>
{% endblock %}

{% block main_right %}
{% endblock %}

{% block none %}

    {% for test in tests %}
        {{ test.title }}
    {% endfor %}

    {% if test %}
    {% endif %}

{% endblock %}
