{% extends 'me/base.html' %}

{% block head_title %}
    Knowledge Home
{% endblock %}

{% block head_extra %}
    <link media="all" rel="stylesheet" href="/static/css/me/home.css" type="text/css" />
    <script src="/static/js/home.js" type="text/javascript"></script>
{% endblock %}

{% block control_panel %}
    {% for k in knows %}
    <a href="/know/r/{{ k.nid }}/">
        <div> {{ k.name }} </div>
    </a>
    {% endfor %}
{% endblock %}

{% block main_left %}
<a href="/know/w/">
    <h1> Create Knowledge </h1>
</a>
{% endblock %}

{% block main_right %}
{% endblock %}

{% block none %}
    {% for test in tests %}
        {{ test.title }}
    {% endfor %}

    {% if test %}
    {% endif %}
{% endblock %}
