{% extends 'me/base.html' %}

{% block head_title %}
    Knowledge Home
{% endblock %}

{% block head_extra %}
    <link media="all" rel="stylesheet" href="/static/css/me/home.css" type="text/css" />
    <script src="/static/js/home.js" type="text/javascript"></script>
{% endblock %}

{% block control_panel %}
{% endblock %}

{% block main_left %}
{% endblock %}

{% block main_right %}
{% endblock %}

{% block none %}
    {% for test in tests %}
        {{ test.title }}
    {% endfor %}

    {% if test %}
    {% endif %}
{% endblock %}
