/* general */
html,body { padding: 0px;margin: 0px;height: 100%;position: relative;overflow-x: visible; }
a, a:visited {
    text-decoration: none;
    cursor: pointer;
}
div {
}
.clearfix {
    clear: both;
}

.hidden { display: none; }
.active { display: inline; }
