@import url(/static/css/ui/a.css);
@import url(/static/css/ui/b.css);
@import url(/static/css/ui/box.css);


#cate-createform {
    display: none;
    height: 190px;
    overflow: hidden;
}
#cate-createform input[type='text'] {
    border: 1px solid #aaa;
}
#cate-createform textarea {
    border: 1px solid #aaa;
    width: 150px;height: 40px;
}

/* main */
#Navs a,#Navs a:visited,
#AppsArea a,#AppsArea a:visited {
    color: #111;
}
/* invisibles */
#loading {
    width: 300px;height: 20px;
    background: red;
    position: absolute;
    left: 301px;top: 51px;
    display: none;
    z-index: 9999;
}
#knowledgeMenu {
    position: absolute;
    width: 25px;height: 62px;
    border: 1px solid #000;
    z-index: 100;
}
/* #Header */
#Header {
    position: relative;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #000;
}
/* #God */
#God {
    position: absolute;
    left: 0px;top: 0px;
    width: 49px;height: 50px;
    border-right: 1px solid #000;
    background: #fff;
    z-index: 999;
}
#G0, #G1, #G2 { position: absolute;left:0px;top:0px;background: #fff; }
#G0, #G1 { border-right: 1px solid #000;border-bottom: 1px solid #000; }
#G0 { width: 29px;height: 29px;z-index: 999; }
#G0:hover { background: #9a3; }
#G1 { width: 39px;height: 39px;z-index: 99;}
#G1:hover { background: #2e2; }
#G2 { right:0px; bottom:0px; z-index:9;}
#G2:hover { background: #3f1; }
/* #Navs */
#Navs {
    position: absolute;
    left: 50px;right: 0px;top: 0px;
    height: 50px;
}
.Nav {
    position: relative;
    float: left;
    width: 49px;height: 50px;
    border-right: 1px solid #000;
    font-size: 30px;line-height: 50px;text-align: center;
    z-index: 9;
}
.Nav_gap {
    display: none;
    position: relative;
    float: left;
    height: 50px;
}
.NavButton {
    display: block;
    position: absolute;
    left: 0px;right: 0px;top: 0px;bottom: 0px;
    background: #fff;
    z-index: 100;
}
.NavTags {
    position: absolute;
    left: 50px;top: 9px;bottom: 9px;
    z-index: 1;
}
.Tag {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    z-index: 1;
}
    /* .Nav//#Manage_* */
#Manage_category {
    width: 30px;
    border-right: none;
}
/* #Apps */
#AppsArea {
    position: absolute;
    left: 0px;top: 51px/* #RootNav->border-bottom */;bottom: 0px;
    width: 49px;
    border-right: 1px solid #000;
}
#AppsButton {
    display: block;
    position: absolute;
    left: 0px;right: 0px;top: 0px;
    height: 50px;
    font-size: 30px;line-height: 50px;text-align: center;
    border-bottom: 1px solid #000;
}
/** other area layout **/
#Content {
    position: absolute;
    left: 350px /*.LeftNarrow->width*/;right: 0px;top: 80px;bottom: 0px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-top-right-radius: 10px;
    -moz-box-shadow: 0px 0px 8px #aaa;
    -webkit-box-shadow: 0px 8px 8px #aaa;
}
#Content_Main {
    position: absolute;
    left: 0px;right: 200px;top: 0px;bottom: 0px;
    overflow-x: hidden;
}
#contentExtend {
    position: absolute;
    right: 0px;top: 0px;bottom: 0px;
    width: 199px;
    border-left: 1px solid #000;
}
